<!-- МИНИМАЛЬНАЯ БАЗОВАЯ СОСТАВЛЯЮЩАЯ КАЖДОЙ СТРАНИЦЫ -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %} {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/my_js.js' %}"></script>
   <!-- <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >  -->
</head>

<body>

    <div class="container">
        {% block body %} {% endblock %} {% block slider_top %} {% endblock %} {% block menu_and_logo_index %} {% endblock %} {% block index_slider %} {% endblock %} {% block underslide_space %} {% endblock %} {% block featured_products %} {% endblock %} {% block big_products %} {% endblock %} {% block menu_and_logo_products %} {% endblock %} {% block menu_and_logo_contacts %} {% endblock %} {% block products_menu %} {% endblock %} {% block div_details %}
        <!-- нужен ли на странице products этот див? -->

        {% block hot_deal %} {% endblock %} {% block trending_menu %} {% endblock %} {% block trending_products %} {% endblock %} {% endblock %} {% block hot_deal_slider %} {% endblock %} {% block exclusive %} {% endblock %} {% block find_follow_favorite %} {% endblock %} {% block locations %} {% endblock %}
{% block login %}
{% endblock %}

        <div class="clr"></div>

        <div class="bottom_container">
            <div class="padding_side">
                <div class="bottom_texts">

                    <div class="mini_header1">
                        <p>CONTACT US</p>
                        <p class="contacts">
                            132A Bridge Road Richmond VIC Australia
                        </p>
                        <p class="contacts">
                            Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com
                        </p>
                    </div>
                    <div class="mini_header2">
                        <p>USEFUL INFORMATION</p>
                        <div class="useful_container">
                            <div class="useful1">
                                <p class="useful_info">
                                    <a href="#">SALES TERMS</a> <br> <a href="#">CUSTOMER CARE</a> <br> <a href="#">DELIVERY</a>
                                </p>
                            </div>
                            <div class="useful2">
                                <p style="margin-left: 110px;" class="useful_info">
                                    <a href="#">ARCHITECTS ACCOUNTS</a> <br> <a href="#">CAREERS</a> <br> <a href="#">ENCHANGES &amp;&nbsp;RETURNS</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mini_header3">
                        <p>LET&rsquo;S STAY IN&nbsp;TOUCH!</p>
                        <p class="stay_touch_text">
                            Subscribe to&nbsp;know about our latest news, products and special offers just for subscribers. </p>
                        <br>
                        <div class="feedback">
                            <input type="text">
                            <form action="/index/">
                                <button class="telegram_button" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p style="text-align: center">
                {% block time %} {{ date_text }} {{ datetime }} {% endblock %}</p>
        </div>
    </div>
</body>

</html>
