{% extends 'orderbase.html' %}
{% load static %}

{% block content %}
    {% include 'includes/inc_order_summary.html' %}
    <div class="basket_list">
        {% for item in object.orderitems.select_related %}
            <div class="basket_record">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.short_desc }}">
                <div style="margin: 20px;" class="category_name">{{ item.product.category.name }}</div>
                <div style="margin: 20px;" class="product_name">{{ item.product.name }}</div>
                <div style="margin: 20px;" class="product_price">{{ item.product.price }}&nbspруб</div>
                <div style="margin: 20px;" class="product_quantitiy">x {{ item.quantity }} шт.</div>
                <div style="margin: 20px;" class="product_cost"> = {{ item.get_product_cost }}&nbspруб</div>
            </div>
        {% endfor %}
    </div>
    {% include 'includes/inc_order_actions.html' %}

{% endblock %}
